### Print()

In [2]:
print("WELCOME TO THE WORLD OF DATA")

WELCOME TO THE WORLD OF DATA

In [3]:
print('welcome to python')

welcome to python

### Comments

comments can be single line or multiline

In [4]:
#Welcoming to the world of data
print("WELCOME TO THE WORLD OF DATA")

WELCOME TO THE WORLD OF DATA

In [5]:
'''Multiple lines of
comments are 
possible in python'''
print('welcome to python')

welcome to python

### Variables

Variables have certain naming conventions to follow

*cannot have space

*must not be an numeric value

*Variables are CASE SENSITIVE

**Type()** function gives the type of variable

In [6]:
x=25
X='New Variable'

In [7]:
print(x)
print(X)

25
New Variable

In [8]:
Second_variable=58.20
type(Second_variable)

float

#### Many value to Multiple variable

In [10]:
x1,y1,z1 = 'better','best','good'
print(x1)
print(y1)
print(z1)

better
best
good

#### One value to Multiple variable variable

In [11]:
x2=y2=z2='Multiple'
print(x2)
print(y2)
print(z2)

Multiple
Multiple
Multiple

## Unpacking a collection

In [12]:
fruits = ["apple", "banana", "cherry"]
a,b,c = fruits
print(a)
print(b)
print(c)

apple
banana
cherry

### Global and Local variable

A variable outside a defined function is a Global variable

A variable inside a specific defined function is a local variable, yet a Local variable can be connected to the Global variable using the keyword **global**

## Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

In [13]:
q = 123
q1=str(123)

In [14]:
type(q)
type(q1)

str

In [15]:
type(q)

int

From above it can be identified that a variable datatype can be changed based on the user, where **q is int** and **q1 is string**

### Complex numbers

Complexnumbers have an imaginary part attached to the number and this imaginary part is denoted as **j**

W = 3j

In [16]:
w = 3j
W = 5+8j
print(w)
print(type(w))
print(W)
print(type(W))

3j
<class 'complex'>
(5+8j)
<class 'complex'>

## Strings

Strings are denoted by single or double quotes, srings can be assigned t oa variable

**Strings are Arrays**, each element in a string can be accessed using [ ]

In [17]:
A = 'welcome to python'
print(A[0])
print(A[7])

#In the output A[7] is executed and a blank is given, because in an array an whitespace aslo gets indexed

w

In [18]:
#Accessing elements using a for loop

for i in A:
    print(i)

w
e
l
c
o
m
e

t
o

p
y
t
h
o
n

**len()** function can be used to find the length of a string

**in** keyword can be used to find a character or word present in a string (Gives an Boolean output)

Similarly **not in** keyword can also be used

In [19]:
#len()
print(len(A))

#The count starts from 1 and it includes whitespaces also as an character

17

In [20]:
#Using IN keyword
print('to' in A)

True

In [21]:
#Using NOT IN keyword
print('java' not in A)

True

In [22]:
print('python' not in A)

False

### Slicing

As strings are arrays, they can be sliced with [ ]

In [24]:
#Slicing a string
B = "what's new in python"
print(B)

print(B[1:5])

what's new in python
hat'

In [25]:
#Slicing from start to a fixed end point
print(B[:9])

what's ne

In [27]:
#Slicing from a fixed point to END 
print(B[5:])

s new in python

In [29]:
#Slicing from end using Negative indexes
print(B[-5:-2])

yth

## String Modifiers

.upper() - coverts a string to UPPER CASE

.lower() - converts a string to lower case

.strip() - removes white space in the start/end of an string

.split() - Splits the string based on the seperator and [gives a list]

.replace(x,y) - replaces a character x with character y in a string

In [31]:
C = '  welcome to jupyter'
print(C.upper())
print(C.lower())

  WELCOME TO JUPYTER
  welcome to jupyter

In [32]:
#Strip() method removes whitespaces

print(C.strip())

welcome to jupyter

In [33]:
#split() method splits the string based on the seperator

print(C.split())

['welcome', 'to', 'jupyter']

In [34]:
#Replacing a character in a string

print(C.replace('o','7'))

  welc7me t7 jupyter

In [35]:
C

'  welcome to jupyter'

## String Format

strings cannot be added with  an number

Ex: print('My age is' + 20)  -- gives an error

Hence, we use string formats

In [38]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [39]:
#Indexes of the variables can also be used

myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

### Escape Characters

\' - single quote

\n - new line

\b - backspace

In [41]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

## Boolean Values

Boolean values are **True** or **False**

**bool()** function can be used to evaluate a value

(), [], {}, "", the number 0, and the value None gives an FALSE when passed through bool()

In [42]:
print(10 > 9)
print(10 == 9)

True
False

In [43]:
print(bool("Hello"))
print(bool(15))

True
True

#### isinstance()
used to determine if an object is of a certain data type

In [44]:
age = 200
print(isinstance(age, int))

True

# Operators

Operators are used to perform operations on variables and values

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

#### Arithmetic operators

In [45]:
#Addition
5+5

10

In [46]:
#subtraction
20-10

10

In [47]:
#Multiplication
10*10

100

In [48]:
#Exponential
10**2

100

In [49]:
#Division
50/4

12.5

In [50]:
50/10

5.0

In [51]:
#to get the reminder
50%4

2

In [52]:
#floor division
50//4

12

#### Assignment and Comparision operators

In [54]:
#assigning a value
Val = 50
Val

50

In [55]:
#Equality operator
50==40

False

In [56]:
#Not equals operator
50!=40

True

In [57]:
#greater than and less than operators
print(10<20)
print(20>10)
print(25<=25)
print(300>=100)

True
True
True
True

####  Logical operator

In [58]:
#AND operator - satisfy both conditions
(25<30)and(30<40)

True

In [59]:
(25>30)and(30<40)

False

In [60]:
#OR operator -satisfy atleast one condition
(25<30)or(30<40)

True

In [62]:
#NOT operator - reverses the result
not((25<30)or(30<40))

False